{% extends "base.html" %}
{% block content %}
<div class="content_wrapper" id="app">
	<div v-if="infos.city">
		<h1>
			Weather
			<div class="date">{{date}}</div>
		</h1>
		<form method="get">
			<input class="form-control" name="city" placeholder="City Name">
			<button class='btn' type="submit">Submit</button>
		</form>
		
		<div class="weather_card">
			<div class="weather_card_img" :style="{backgroundImage:https://openweathermap.org/img/wn/{{data.icon}}.png}">
				<div class="weather_card_state">
					<span class="material-icons">
						<img src="https://openweathermap.org/img/wn/{{data.icon}}.png">
					</span>
				</div>
			</div>

			<div class="weather_card_infos">
				<div class="weather_card_infos_title">
					{{data.city}}<br>
					{{data.description}}
				</div>
				<div class="weather_card_infos_temp">
						{{data.kelvin_tempreture}}℃/{{data.celcius_tempreture}}℉
				</div>
				<div class="bottom">
					<hr>
					<div class="weather_card_infos_bottom">
					humidity:{{data.humidity}}-pressure:{{data.pressure}}Pa	
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>
<div>
	<h3 class='ashu'>Design By:<br> Ashvini sharma</h3>
</div>


{% endblock %}